@charset "utf-8";



/*Coloumn layout*/
* {
  box-sizing: border-box;
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  font-family: "Lato", sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
	height: 130px;
}
#header_logo{
	float: left;
	height: auto;
	width: auto;
	position: relative;
	bottom: 20%;
	left: 0.5%;	
}	

/*second logo 

#second_logo{
	float: right;
	height: auto;
	width: auto;
	position: relative;
	bottom: 20%;
	right: 0.5%;	
}	

*/


/* Creates three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: auto; 
}

/* Left and right column */
.column.side {
	background-color:#ccc;
  width: 20%;
}

/* Middle column */
.column.middle {
	background-color: #bbb;
	width: 60%;
	height: auto;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/*drop down*/ 
/* Fixed sidenav, full height inside the coloumn*/
.sidenav {
  height: auto;
  width: auto;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #575353;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #FCF6F6;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #17D845;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #D217DD;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down{
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*




/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #4FBC1B;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


*/



/*main slideshow*/
.animation_container{
	position: relative;
	width: 100%; 
}
.animation_container img{
	height: auto;
	width: 100%;
}
.hideimg{
	display: none;
}
.animation_container .left_arrow{
	position: absolute;
    top: 50%;
    left: 0%;
}
.animation_container .right_arrow{
	position: absolute;
    top: 50%;
    right: 0%; 
}

.left_arrow,.right_arrow {
    background-color: #ECC90D;
    border: 2px solid #ECC90D;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.left_arrow:hover, .right_arrow:hover{
    background-color: white;
    color: #ECC90D;
    border: 2px solid #ECC90D;
}

/* search bar*/
input[type=text] {
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  background-image: url(../images/searchicon.png);
  background-position: 1px px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}








